
.body-div {
    border:2px solid blue;
    display: block;
    margin: 5px auto;
    max-width: 640px;
    box-sizing: border-box;
    position: relative;
    /* top: 60px */
}

.event-group-selector-container {
    border: 5px solid orange;
    width: 100%;
    box-sizing: border-box;
    display: flex;
    justify-content: left;
    margin:10px auto;
    position:sticky;
    top: 63px;
    background-color: white;
    font-weight: 600;
    font-size: 25px;
    text-decoration: none;
}
