.event-show-container {
    /* border: 3px solid red; */
    width: 1120px;
    box-sizing: border-box;
    margin: 0 auto;
    color: #212121
}

.event-show-header-container {
    /* border: 3px solid green; */
    margin: auto;
    margin-bottom: 24px;
    /* display: flex; */

}

.event-show-title {
    /* border: 3px solid purple; */
    font-weight: 700;
    line-height: 1.375;
    margin: 0;
    font-size: xx-large;
    color: #212121
}

.event-show-header-organizer {
    /* border: 3px solid rgb(63, 196, 205); */
    margin: 0;
    padding-top: 10px;
    padding-bottom: 24px;
    border-bottom: 1px solid lightgray;
}

#event-show-organizer {
    font-weight: 600;
    margin: 0;
}

.event-show-body-container {
    /* border: 3px solid orange; */
    width: 100%;
    display: flex;
    box-sizing: border-box;
}

.event-show-body-left-container {
    /* border: 3px solid blue; */
    width: 60%;
    box-sizing: border-box;
}

.event-show-image-container {
    /* border: 3px solid indianred; */
    width: 100%;
    height: 370px;
    box-sizing: border-box;
    overflow: hidden;
    border-radius: 8px;
}

.event-show-image {
    object-fit: fill;
    overflow: hidden;
    width: 100%;
    height: 100%;
}

.event-show-description {
    /* border: 3px solid pink; */
    box-sizing: border-box;
    padding-bottom: 24px;
    word-break: break-word;
}

.event-show-description-item {
    margin: 5px 0;
}

.event-show-body-right-container {
    /* border: 3px solid brown; */
    width: 40%;
    padding-left: 112px;
    box-sizing: border-box;
    /* position: sticky;
    top: 60px; */
}

.event-show-group-container {
    /* border: 3px solid magenta; */
    box-sizing: border-box;
    display: flex;
    gap: 15px;
    margin-bottom: 24px;
    width: 100%;
}

.event-show-group-container:hover {
    cursor: pointer
}

.event-show-group-image-container {
    /* border: 3px solid red; */
    width: 54px;
    height: 54px;
    border-radius: 5px;
}

.event-show-group-image {
    overflow: hidden;
    object-fit: fill;
    height: 100%;
    width: 100%;
    word-break: break-word;
    border-radius: 8px;
    text-overflow: ellipsis;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 2; /* number of lines to show */
            line-clamp: 2;
    -webkit-box-orient: vertical;
}

.event-show-group-info-container {
    /* border: 3px solid blue; */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    word-break: break-word;
    text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.event-show-group-title {
    font-weight: 600;
    font-size: 18px;
    color: black;
    word-break: break-word;
    text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.event-show-group-type {
    color: #757575;
    font-size: 14px;
}

.event-show-date-location-container {
    /* border: 3px solid greenyellow; */
    box-sizing: border-box;
}

.event-show-date {
    /* border: 3px solid purple; */
    display: flex;
    gap: 15px;
    margin-bottom: 10px;
}

.event-show-address {
    /* border: 3px solid forestgreen; */
    display: flex;
    gap: 15px;
    color: #757575;
}

.delete-event-button {
    width: 100%;
    border-top: 1px solid lightgrey;
    display: flex;
    justify-content: center;
    padding-top: 24px;
    padding-bottom: 24px;
}
