/* filler  */
.groups-list-container {
    /* border: 2px solid green; */
    width: 100%;
    box-sizing: border-box;
}

.group-list-item {
    border-top: 1px solid lightgrey;
    margin: 0 auto;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    justify-content: left;
    padding-top: 10px;
    padding-bottom: 10px;
    height: 178px;
}

.group-list-image-container {
    /* border: 3px solid yellow; */
    box-sizing: border-box;
    min-width: 178px;
    height: 100px;
    margin-right: 10px;
    /* object-fit: fill; */
    overflow: hidden;
}

.group-list-image {
    object-fit: fill;
    height: 100px;
    width: 178px;
    border-radius: 5px;
}

.group-list-content-container {
    /* border: 3px solid goldenrod; */
    box-sizing: border-box;
    width: 427px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.group-list-name {
    margin: 0;
    font-weight: 650;
    font-size: 23px;
    font: expanded;
    text-overflow: ellipsis;
    text-decoration: none;
    color: black
}

.group-list-location {
    margin: 0;
    font-size: medium;
    color: rgb(135, 116, 87, .8);
    text-transform: uppercase;
    text-overflow: ellipsis;
}

.group-description {
    text-overflow: ellipsis;
    color: rgb(117, 117, 117, 1);
}

.group-members-private-container {
    color: rgb(117, 117, 117, 1);
    display: flex;
    justify-content: space-between;
    padding-right: 5px;
}

.events-list-container {
    width: 100%;
    box-sizing: border-box;
}

.event-list-item {
    border-top: 1px solid lightgrey;
    margin: 0 auto;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    justify-content: left;
    padding-top: 10px;
    padding-bottom: 10px;
    height: 178px;
}

.event-list-image-container {
    box-sizing: border-box;
    min-width: 178px;
    height: 100px;
    margin-right: 10px;
    /* object-fit: fill; */
    overflow: hidden;
}

.event-list-image {
    object-fit: fill;
    height: 100px;
    width: 178px;
    border-radius: 5px;
}

.event-list-content-container {
    /* border: 3px solid goldenrod; */
    box-sizing: border-box;
    width: 427px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

/* .event-list-content-top {

} */

.event-list-start-date {
    margin: 0;
    font-weight: 650;
    font-size: medium;
    color: rgb(135, 116, 87, .8);
    text-transform: uppercase;
    text-overflow: ellipsis;
    padding-bottom: 2px;
}

.event-list-name {
    margin: 0;
    font-weight: 650;
    font-size: 23px;
    font: expanded;
    text-overflow: ellipsis;
    text-decoration: none;
    color: rgb(33, 33, 33);
    /* margin-top: 4px; */
    margin-bottom: 4px;
}

.event-list-group-location {
    text-overflow: ellipsis;
    color: rgb(117, 117, 117, 1);
    margin: 0;
    font-size: medium;
}

.event-list-attending-share-container {
    display: flex;
    justify-content: space-between;
    color: rgb(117, 117, 117, 1)
    /* margin-top: 33px; */
}

.event-list-num-attending {
    color: rgb(117, 117, 117, 1);
}

.event-list-share-favorite-container {
    padding-right: 5px;
}
