/* filler  */
.groups-list-container {
    /* border: 2px solid green; */
    width: 100%;
    box-sizing: border-box;
}

.group-list-item {
    border-top: 1px solid lightgrey;
    margin: 0 auto;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    justify-content: left;
    padding-top: 10px;
    padding-bottom: 10px;
    height: 178px;
}

.group-list-image-container {
    border: 3px solid yellow;
    box-sizing: border-box;
    min-width: 178px;
    height: 100px;
    margin-right: 10px;
    /* object-fit: fill; */
    overflow: hidden;
}

.group-list-image {
    object-fit: fill;
    height: 100px;
    width: 178px;
}

.group-list-content-container {
    border: 3px solid goldenrod;
    box-sizing: border-box;
    min-width: 427px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.group-name-location-container {
}

.group-list-name {
    margin: 0;
    font-weight: 650;
    font-size: 25px;
    font: expanded;
    text-overflow: ellipsis;
    text-decoration: none;
    color: black
}

.group-list-location {
    margin: 0;
    font-size: medium;
    color: rgb(135, 116, 87, .8);
    text-transform: uppercase;
    text-overflow: ellipsis;
}

.group-description {
    text-overflow: ellipsis;
    color: rgb(117, 117, 117, 1);
}

.group-members-private-container {
    color: rgb(117, 117, 117, 1);
    display: flex;
    justify-content: space-between;
    padding-right: 5px;
}

.events-list-container {
    width: 90%;
    box-sizing: border-box;
    border: 3px solid palevioletred;
}
